asn1crypto==0.24.0
bcrypt==3.1.4
bleach==2.1.2
certifi==2017.11.5
cffi==1.11.2
chardet==3.0.4
click==6.7
colorama==0.3.9
crypto==1.4.1
cryptography==2.1.4
decorator==4.2.1
entrypoints==0.2.3
flake8==3.5.0
Flask==0.12.2
gunicorn==19.7.1
html5lib==1.0.1
idna==2.6
ipykernel==4.8.0
ipython-genutils==0.2.0
ipywidgets==7.1.0
itsdangerous==0.24
jedi==0.11.1
Jinja2==2.10
jsonschema==2.6.0
jupyter-client==5.2.1
jupyter-console==5.2.0
jupyter-core==4.4.0
lxml==4.6.3
MarkupSafe==1.0
mccabe==0.6.1
mistune==0.8.3
Naked==0.1.31
nbconvert==5.3.1
nbformat==4.4.0
notebook==5.3.1
pandocfilters==1.4.2
parso==0.1.1
pew==1.1.2
pickleshare==0.7.4
pipenv==9.0.3
prompt-toolkit==1.0.15
psutil==5.3.1
pyang==1.7.3
pyasn1==0.4.2
pycodestyle==2.3.1
pycparser==2.18
pycryptodome==3.4.7
pycryptodomex==3.4.7
pyflakes==1.6.0
Pygments==2.2.0
PyNaCl==1.2.1
python-dateutil==2.6.1
pytz==2017.3
pywinpty==0.5.1
PyYAML==3.12
pyzmq==16.0.3
qtconsole==4.3.1
requests==2.18.4
Send2Trash==1.4.2
shellescape==3.4.1
simplegeneric==0.8.1
six==1.11.0
terminado==0.8.1
testpath==0.3.1
tornado==4.5.3
traitlets==4.3.2
urllib3==1.22
virtualenv==15.1.0
virtualenv-clone==0.2.6
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
widgetsnbextension==3.1.0
