{% extends "layout.html" %}
{% block content %}
<div class="dictionary">
    <h1>My dictionary
    <form style="display:inline-block" action = "" method = "POST">
    <input type = "submit" name = "action" value = "Add/Remove" /></p>
    </form></h1>
    <form action = "" method = "POST">
    Enter your word to check: <input type = "text" name = "data" />
    <input type = "submit" name = "action" value = "Check" />
    </form>

    {% if word_found %}
    <p><strong>{{ word }} :</strong></p>
    {% endif %}

    {% if match_found %}
    Did you mean <strong>{{ word }}</strong> instead?
    {% endif %}

    {% if mean %}
    <p><strong>Meaning : </strong>{{ mean }}</p>
    {% endif %}

    <form action = "" method = "POST">
    <p>Tell me a random word:<input type = "submit" name = "action" value = "TELL" /></p>
    </form>

</div>
{% endblock %}
